nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.7%;
    background-color: #434546;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    
}

nav a{
    text-decoration: none;
    color: #DFE0E0;
    cursor: pointer;
}

nav a:hover{
    color:white;
}